@model IEnumerable<Sprievodca.Models.MainModels.SubArea>

@{
    ViewData["Title"] = "Index";
}

<h1>Podoblasť</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var area in ViewBag.Areas)
{
    <div class="flip-slide-toggle">
        <h6>@area.Name</h6>
    </div>

    <div class="panel-slide-toggle">
        @if (area.SubArea != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(subArea => subArea.Name)
                        </th>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(subArea => subArea.Sectors)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var subArea in area.SubArea)
                    {
                        <tr>
                            <td>
                                <p>@subArea.Name</p>
                            </td>
                            <td>
                                <a asp-controller="Sector" asp-action="Create">Vytvor sektor |</a>
                                <a asp-action="Edit" asp-route-id="@subArea.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@subArea.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@subArea.Id">Delete</a>
                            </td>
                            <td>
                                @foreach (var item in subArea.Sectors)
                                {
                                    <p>@item.Name</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
}

<div class="container">
    <a asp-area="" asp-controller="Home" asp-action="Admin">Back</a>
</div>

<script>
    $(document).ready(function () {
        $(".flip-slide-toggle").click(function () {
            $(this).next(".panel-slide-toggle").slideToggle("slow");
        });
    });
</script>

<style>
    .panel-slide-toggle {
        display: none;
    }

    .flip-slide-toggle{
        cursor: pointer;
    }
</style>