@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Sprievodca</h1>
</div>

<div id="background"></div>

@foreach (var region in ViewBag.Regions)
{
    <p class="toggle-region" style="cursor: pointer;"><b>@region.Name</b></p>
    <div class="region-details" style="display: none; margin-left: 20px;">
        @if (region.Areas != null && region.Areas.Count > 0)
        {
            @foreach (var area in region.Areas)
            {
                <p class="toggle-area" style="cursor: pointer;"><b>@area.Name</b></p>
                <div class="area-details" style="display: none; margin-left: 40px;">
                    @if (area.ExistSubArea == true && area.SubArea != null)
                    {
                        @foreach (var subArea in area.SubArea)
                        {
                            <p class="toggle-subarea" style="cursor: pointer;"><i>@subArea.Name</i></p>
                            <div class="subarea-details" style="display: none; margin-left: 60px;">
                                @if (subArea.Sectors != null)
                                {
                                    @foreach (var sector in subArea.Sectors)
                                    {
                                        <p class="open-modal" style="cursor: pointer;">- <span class="sector-name">@sector.Name</span></p>
                                        <div class="sector-details" style="display: none; margin-left: 80px;">
                                            <img decoding="async" src="@("~/images/"+sector.ImageName)" asp-append-version="true" width="100%" height="auto" style="text-align: left" />
                                            @if (sector.Routes != null)
                                            {
                                                @foreach (var route in sector.Routes)
                                                {
                                                    <p>@route.Number @route.Name <b>@route.Grade</b> @route.Lenght m  - <i>@route.Description</i> - @route.Author @route.Year</p>
                                                }
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        }
                    }
                    @if (area.ExistSubArea == false)
                    {
                        @if (area.Sectors != null)
                        {
                            @foreach (var sector in area.Sectors)
                            {
                                <p class="open-modal" style="cursor: pointer;">- <span class="sector-name">@sector.Name</span></p>
                                <div class="sector-details" style="display: none; margin-left: 60px;">
                                    <img decoding="async" src="@("~/images/"+sector.ImageName)" asp-append-version="true" width="100%" height="auto" />
                                    @if (sector.Routes != null)
                                    {
                                        @foreach (var route in sector.Routes)
                                        {
                                            <p>@route.Number @route.Name <b>@route.Grade</b> @route.Lenght m  - <i>@route.Description</i> - @route.Author @route.Year</p>
                                        }
                                    }
                                </div>
                            }
                        }
                    }
                </div>
            }
        }
    </div>
}

<div id="myModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sectorModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="modal-sector-details"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".toggle-region").click(function () {
            $(this).next(".region-details").slideToggle();
        });

        $(".toggle-area").click(function () {
            $(this).next(".area-details").slideToggle();
        });

        $(".toggle-subarea").click(function () {
            $(this).next(".subarea-details").slideToggle();
        });

        $(".open-modal").click(function () {
            var sectorName = $(this).find('.sector-name').text();
            var sectorDetails = $(this).next('.sector-details').html();
            $('#modal-sector-details').html(sectorDetails);
            $('#sectorModalTitle').text(sectorName);
            $('#myModal').css('display', 'block');
        });

        $(".close").click(function () {
            $('#myModal').css('display', 'none');
        });

        $(window).click(function (event) {
            if (event.target == $('#myModal')[0]) {
                $('#myModal').css('display', 'none');
            }
        });
    });
</script>