@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sprievodca</h1>
</div>

@foreach (var kraj in ViewBag.kraj)
{
    <p><b>@kraj.Nazov</b></p>
    @if (kraj.Oblast != null && kraj.Oblast.Count > 0)
    {
         @foreach (var oblast in kraj.Oblast)
         {
             @if (oblast.Name != null)
             {
                <p class="oblast">@oblast.Name</p>
                @if (oblast.ExistPodOblast == true)
                {
                    @foreach (var podOblast in oblast.PodOblast)
                    {
                        <p class="podoblast"><i>@podOblast.Name</i></p>
                        @if (podOblast.Sektor != null)
                        {
                            @foreach (var sektor in podOblast.Sektor)
                            {
                                <p class="sektor">- @sektor.Name</p>
                                <img class="sektor" decoding="async" src="@("~/images/"+sektor.ImageName)" asp-append-version="true" width="250px" height="auto" />
                                @if (sektor.Cesta != null)
                                {
                                    @foreach (var cesta in sektor.Cesta)
                                    {
                                        <p class="sektor">@cesta.Number @cesta.Name <b>@cesta.Grade</b> @cesta.Lenght m  - <i>@cesta.Description</i> - @cesta.Author @cesta.Year</p>
                                    }
                                }
                            }
                        }
                    }
                }
                @if (oblast.ExistPodOblast == false)
                {
                    @if (oblast.Sektor != null)
                    {
                        @foreach (var sektor in oblast.Sektor)
                        {
                            <p class ="podoblast">- @sektor.Name</p>
                            <img class="sektor" decoding="async" src="@("~/images/"+sektor.ImageName)" asp-append-version="true" width="250px" height="auto" />
                            @if (sektor.Cesta != null)
                            {
                                @foreach (var cesta in sektor.Cesta)
                                {
                                    <p class="sektor">@cesta.Number @cesta.Name <b>@cesta.Grade</b> @cesta.Lenght m  - <i>@cesta.Description</i> - @cesta.Author @cesta.Year</p>
                                }
                            }
                        }
                    }
                }
            }
         }
    }
}        
