@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sprievodca</h1>
</div>

@foreach (var region in ViewBag.Regions)
{
    <p><b>@region.Name</b></p>
    @if (region.Areas != null && region.Areas.Count > 0)
    {
        @foreach (var area in region.Areas)
         {
             @if (area.Name != null)
             {
                <p class="oblast">@area.Name</p>
                @if (area.ExistSubArea == true && area.SubArea != null)
                {
                    @foreach (var subArea in area.SubArea)
                    {
                        <p class="podoblast"><i>@subArea.Name</i></p>
                        @if (subArea.Sectors != null)
                        {
                            @foreach (var sector in subArea.Sectors)
                            {
                                <p class="sektor">- @sector.Name</p>
                                <img class="sektor" decoding="async" src="@("~/images/"+sector.ImageName)" asp-append-version="true" width="250px" height="auto" />
                                @if (sector.Routes != null)
                                {
                                    @foreach (var route in sector.Routes)
                                    {
                                        <p class="sektor">@route.Number @route.Name <b>@route.Grade</b> @route.Lenght m  - <i>@route.Description</i> - @route.Author @route.Year</p>
                                    }
                                }
                            }
                        }
                    }
                }
                @if (area.ExistSubArea == false)
                {
                    @if (area.Sectors != null)
                    {
                        @foreach (var sector in area.Sectors)
                        {
                            <p class ="podoblast">- @sector.Name</p>
                            <img class="sektor" decoding="async" src="@("~/images/"+sector.ImageName)" asp-append-version="true" width="250px" height="auto" />
                            @if (sector.Routes != null)
                            {
                                @foreach (var route in sector.Routes)
                                {
                                    <p class="sektor">@route.Number @route.Name <b>@route.Grade</b> @route.Lenght m  - <i>@route.Description</i> - @route.Author @route.Year</p>
                                }
                            }
                        }
                    }
                }
            }
         }
    }
}        
